<footer
  class="flex justify-between items-center p-4 bg-gradient-to-t from-[#1a2050] to-[#314681] w-full min-h-min"
>
  <div class="font-script text-white font-light text-xl">
    <p>Design by Richard Gómez</p>
  </div>
  <div class="text-white font-light text-sm">
    <p class="text-[#9e9ea9]">
      Puedes encontrar el codigo de la pagina en
      <a href="https://gitlab.com/RichardGomezA/todolistangular" class="text-white" target="_blank">GitLab</a>
    </p>
    <p class="text-[#9e9ea9]">
      Me puedes encontrar en: <a href="https://www.linkedin.com/in/richard-anthony-gomez-arcos-b91833186/" class="text-white" target="_blank">LinkedIn</a>
    </p>
  </div>
</footer>
