<header>
  <div class="2xl:container 2xl:mx-auto">
    <div
      class="bg-gradient-to-r from-[#314681] to-[#1a2050] shadow-lg py-5 px-7"
    >
      <nav class="flex justify-between">
        <div class="flex items-center space-x-3 w-1/3">
          <div class="flex items-center mx-4">
            <img class="w-11 h-11 rounded-full" src="{{ img.large }}" />
            <h3 class="font-roboto text-2xl mx-4 text-white">
              Hola {{ name.first }} {{ name.last }}
            </h3>
          </div>
        </div>
        <div class="flex items-center space-x-3 w-1/3 justify-evenly">
          <h2 class="text-2xl leading-6 text-white font-bold">ToDo List</h2>
        </div>
        <div class="self-center flex items-center space-x-3 w-1/3">
          <!-- For medium and plus sized devices -->
          <ul class="flex flex-auto space-x-2 justify-end">
            <li
              (click)="isToggle = 1"
              [ngClass]="
                'focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer px-3 py-2.5 font-normal text-xs leading-3 shadow-md rounded ' +
                (isToggle === 1
                  ? 'text-white bg-[#242c6a] border border-white'
                  : 'text-gray-600 border border-white bg-gray-50')
              "
            >
              Cerrar sesión
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
