<body>
  <div id="body" style="min-height: 38.5vw; text-align: -webkit-center">
    <main>
      <section class="text-start" style="width: 60%">
        <h2 class="text-4xl font-bold border-black border-b">Tus tareas</h2>
        <h4 class="text-base font-normal pt-4 pb-4">
          Doble click para eliminar la tarea
        </h4>
        <table
          class="table table-fixed w-full text-center font-roboto font-normal text-sm"
        >
          <thead>
            <tr>
              <th class="border p-2 bg-[#EEE] text-[#555]">
                Descripción de la tarea
              </th>
              <th class="border p-2 bg-[#EEE] text-[#555]">Fecha</th>
              <th class="border p-2 bg-[#EEE] text-[#555]">Estado</th>
            </tr>
          </thead>
          <tbody id="tabla-tareas">
            <tr
              *ngFor="let todo of todos; let i = index"
              (dblclick)="remove(i)"
            >
              <td class="text-justify border p-2">{{ todo.descripcion }}</td>
              <td class="border p-2">{{ todo.date }}</td>
              <td
                class="border p-2 bg-[#17a229] text-white"
                *ngIf="todo.estado == 'Completo'"
              >
                {{ todo.estado }}
              </td>
              <td
                class="border p-2 bg-[#3947ad] text-white"
                *ngIf="todo.estado == 'En curso'"
              >
                {{ todo.estado }}
              </td>
              <td
                class="border p-2 bg-[#af1a1a] text-white"
                *ngIf="todo.estado == 'Incompleto'"
              >
                {{ todo.estado }}
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>

    <section class="text-start" style="width: 60%">
      <h2
        id="titulo-form"
        class="text-3xl font-bold pt-6 border-b border-black text-[#555]"
      >
        Adicionar una nueva tarea
      </h2>
      <ul id="mensaje-error"></ul>
      <form id="form-adicionar" class="pt-4">
        <div class="grid relative z-0 mb-2 w-full group">
          <label for="descripcion" class="text-[#555]">Descripción:</label>
          <input
            id="descripcion"
            class="h-8 outline-0 border-b-2"
            name="descripcion"
            type="text"
            placeholder="Describa la tarea"
            aria-label="Describa la tarea"
            aria-describedby="adicionar-tarea"
            [(ngModel)]="newTodo"
          />
        </div>
        <div class="grid">
          <label for="fecha" class="text-[#555]"
            >Fecha estimada de finalización:</label
          >
          <input
            id="fecha"
            class="outline-0 border-2 h-8 p-1 mb-2"
            name="fecha"
            type="date"
            [(ngModel)]="newData"
          />
        </div>
        <div class="grid mb-4">
          <label for="estado" class="text-[#555]">Estado de la tarea:</label>
          <select
            name="estado"
            id="estado"
            class="outline-0 border-2 h-8"
            [(ngModel)]="newState"
          >
            <option value="Incompleto">Incompleto</option>
            <option value="En curso">En curso</option>
            <option value="Completo">Completo</option>
          </select>
        </div>
        <button
          id="adicionar-tarea"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded mb-4"
          (click)="adicionarTarea()"
        >
          Adicionar
        </button>
      </form>
    </section>
  </div>
</body>
